<% if notice %>
  <aside id="notice">
    <%= notice %>
  </aside>
<% end %>

<h2>Your Pragmatic Cart</h2>
<ul>
  <% @cart.line_items.each do |i| %>
    <li>
      <%= i.product.title %>
    </li>
  <% end %>
</ul>
